.fisheswrapper {
    background-color: #f6f5f5;
    /* padding: 2rem;   */
    /* justify-content: center; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    padding: 20px;
    height: 200px;
    width: 1450px;
    align-content: space-around; 
    
}
.fishestitle{ 
    color: #276678;
    font-size: x-large;
   
}
.fishesimage{
    border-radius: 8px;
    height: 200px;
    width: 250px;
}
